The dataset used here contains estimates of homelessness in each U.S. state in 2018.   
The individual column is the number of homeless individuals not part of a family with children. The family_members column is the number of homeless individuals part of a family with children. The state_pop column is the state's total population.

In [13]:
import pandas as pd

In [14]:
homelessness = pd.read_csv('homelessness.csv')

## Inspecting a dataframe

In [15]:
homelessness.head()

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588

In [16]:
homelessness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      51 non-null     int64
 1   region          51 non-null     object
 2   state           51 non-null     object
 3   individuals     51 non-null     float64
 4   family_members  51 non-null     float64
 5   state_pop       51 non-null     int64
dtypes: float64(2), int64(2), object(2)
memory usage: 2.5+ KB

In [17]:
homelessness.shape

(51, 6)

In [18]:
homelessness.describe()

       Unnamed: 0    individuals  family_members     state_pop
count   51.000000      51.000000       51.000000  5.100000e+01
mean    25.000000    7225.784314     3504.882353  6.405637e+06
std     14.866069   15991.025083     7805.411811  7.327258e+06
min      0.000000     434.000000       75.000000  5.776010e+05
25%     12.500000    1446.500000      592.000000  1.777414e+06
50%     25.000000    3082.000000     1482.000000  4.461153e+06
75%     37.500000    6781.500000     3196.000000  7.340946e+06
max     50.000000  109008.000000    52070.000000  3.946159e+07

## Parts of a Dataframe

In [21]:
# Print the values of homelessness
print(homelessness.values)

[[0 'East South Central' 'Alabama' 2570.0 864.0 4887681]
 [1 'Pacific' 'Alaska' 1434.0 582.0 735139]
 [2 'Mountain' 'Arizona' 7259.0 2606.0 7158024]
 [3 'West South Central' 'Arkansas' 2280.0 432.0 3009733]
 [4 'Pacific' 'California' 109008.0 20964.0 39461588]
 [5 'Mountain' 'Colorado' 7607.0 3250.0 5691287]
 [6 'New England' 'Connecticut' 2280.0 1696.0 3571520]
 [7 'South Atlantic' 'Delaware' 708.0 374.0 965479]
 [8 'South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 [9 'South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 [10 'South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 [11 'Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 [12 'Mountain' 'Idaho' 1297.0 715.0 1750536]
 [13 'East North Central' 'Illinois' 6752.0 3891.0 12723071]
 [14 'East North Central' 'Indiana' 3776.0 1482.0 6695497]
 [15 'West North Central' 'Iowa' 1711.0 1038.0 3148618]
 [16 'West North Central' 'Kansas' 1443.0 773.0 2911359]
 [17 'East South Central' 'Kentucky' 2735.0 953.0 4461153]
 [18 'West South Central' 'Louisiana' 2540.0 519.0 4659690]
 [19 'New England' 'Maine' 1450.0 1066.0 1339057]
 [20 'South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 [21 'New England' 'Massachusetts' 6811.0 13257.0 6882635]
 [22 'East North Central' 'Michigan' 5209.0 3142.0 9984072]
 [23 'West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 [24 'East South Central' 'Mississippi' 1024.0 328.0 2981020]
 [25 'West North Central' 'Missouri' 3776.0 2107.0 6121623]
 [26 'Mountain' 'Montana' 983.0 422.0 1060665]
 [27 'West North Central' 'Nebraska' 1745.0 676.0 1925614]
 [28 'Mountain' 'Nevada' 7058.0 486.0 3027341]
 [29 'New England' 'New Hampshire' 835.0 615.0 1353465]
 [30 'Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 [31 'Mountain' 'New Mexico' 1949.0 602.0 2092741]
 [32 'Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 [33 'South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 [34 'West North Central' 'North Dakota' 467.0 75.0 758080]
 [35 'East North Central' 'Ohio' 6929.0 3320.0 11676341]
 [36 'West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 [37 'Pacific' 'Oregon' 11139.0 3337.0 4181886]
 [38 'Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 [39 'New England' 'Rhode Island' 747.0 354.0 1058287]
 [40 'South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 [41 'West North Central' 'South Dakota' 836.0 323.0 878698]
 [42 'East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 [43 'West South Central' 'Texas' 19199.0 6111.0 28628666]
 [44 'Mountain' 'Utah' 1904.0 972.0 3153550]
 [45 'New England' 'Vermont' 780.0 511.0 624358]
 [46 'South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 [47 'Pacific' 'Washington' 16424.0 5880.0 7523869]
 [48 'South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 [49 'East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 [50 'Mountain' 'Wyoming' 434.0 205.0 577601]]

In [22]:
# Print the column index of homelessness
print(homelessness.columns)

Index(['Unnamed: 0', 'region', 'state', 'individuals', 'family_members',
       'state_pop'],
      dtype='object')

In [23]:
# Print the row index of homelessness
print(homelessness.index)

RangeIndex(start=0, stop=51, step=1)

## Sorting

In [26]:
homelessness.sort_values('individuals', ascending = False)

,Unnamed: 0,region,state,individuals,family_members,state_pop
4,4,Pacific,California,109008.0,20964.0,39461588
32,32,Mid-Atlantic,New York,39827.0,52070.0,19530351
9,9,South Atlantic,Florida,21443.0,9587.0,21244317
43,43,West South Central,Texas,19199.0,6111.0,28628666
47,47,Pacific,Washington,16424.0,5880.0,7523869
37,37,Pacific,Oregon,11139.0,3337.0,4181886
38,38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
5,5,Mountain,Colorado,7607.0,3250.0,5691287
2,2,Mountain,Arizona,7259.0,2606.0,7158024
28,28,Mountain,Nevada,7058.0,486.0,3027341
10,10,South Atlantic,Georgia,6943.0,2556.0,10511131
35,35,East North Central,Ohio,6929.0,3320.0,11676341
21,21,New England,Massachusetts,6811.0,13257.0,6882635
13,13,East North Central,Illinois,6752.0,3891.0,12723071
33,33,South Atlantic,North Carolina,6451.0,2817.0,10381615
42,42,East South Central,Tennessee,6139.0,1744.0,6771631
30,30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
22,22,East North Central,Michigan,5209.0,3142.0,9984072
20,20,South Atlantic,Maryland,4914.0,2230.0,6035802
11,11,Pacific,Hawaii,4131.0,2399.0,1420593
23,23,West North Central,Minnesota,3993.0,3250.0,5606249
46,46,South Atlantic,Virginia,3928.0,2047.0,8501286
25,25,West North Central,Missouri,3776.0,2107.0,6121623
14,14,East North Central,Indiana,3776.0,1482.0,6695497
8,8,South Atlantic,District of Columbia,3770.0,3134.0,701547
40,40,South Atlantic,South Carolina,3082.0,851.0,5084156
36,36,West South Central,Oklahoma,2823.0,1048.0,3940235
49,49,East North Central,Wisconsin,2740.0,2167.0,5807406
17,17,East South Central,Kentucky,2735.0,953.0,4461153
0,0,East South Central,Alabama,2570.0,864.0,4887681
18,18,West South Central,Louisiana,2540.0,519.0,4659690
6,6,New England,Connecticut,2280.0,1696.0,3571520
3,3,West South Central,Arkansas,2280.0,432.0,3009733
31,31,Mountain,New Mexico,1949.0,602.0,2092741
44,44,Mountain,Utah,1904.0,972.0,3153550
27,27,West North Central,Nebraska,1745.0,676.0,1925614
15,15,West North Central,Iowa,1711.0,1038.0,3148618
19,19,New England,Maine,1450.0,1066.0,1339057
16,16,West North Central,Kansas,1443.0,773.0,2911359
1,1,Pacific,Alaska,1434.0,582.0,735139
12,12,Mountain,Idaho,1297.0,715.0,1750536
24,24,East South Central,Mississippi,1024.0,328.0,2981020
48,48,South Atlantic,West Virginia,1021.0,222.0,1804291
26,26,Mountain,Montana,983.0,422.0,1060665
41,41,West North Central,South Dakota,836.0,323.0,878698
29,29,New England,New Hampshire,835.0,615.0,1353465
45,45,New England,Vermont,780.0,511.0,624358
39,39,New England,Rhode Island,747.0,354.0,1058287
7,7,South Atlantic,Delaware,708.0,374.0,965479
34,34,West North Central,North Dakota,467.0,75.0,758080
50,50,Mountain,Wyoming,434.0,205.0,577601

In [28]:
homelessness.sort_values(['individuals','family_members'], ascending = [True,False])

,Unnamed: 0,region,state,individuals,family_members,state_pop
50,50,Mountain,Wyoming,434.0,205.0,577601
34,34,West North Central,North Dakota,467.0,75.0,758080
7,7,South Atlantic,Delaware,708.0,374.0,965479
39,39,New England,Rhode Island,747.0,354.0,1058287
45,45,New England,Vermont,780.0,511.0,624358
29,29,New England,New Hampshire,835.0,615.0,1353465
41,41,West North Central,South Dakota,836.0,323.0,878698
26,26,Mountain,Montana,983.0,422.0,1060665
48,48,South Atlantic,West Virginia,1021.0,222.0,1804291
24,24,East South Central,Mississippi,1024.0,328.0,2981020
12,12,Mountain,Idaho,1297.0,715.0,1750536
1,1,Pacific,Alaska,1434.0,582.0,735139
16,16,West North Central,Kansas,1443.0,773.0,2911359
19,19,New England,Maine,1450.0,1066.0,1339057
15,15,West North Central,Iowa,1711.0,1038.0,3148618
27,27,West North Central,Nebraska,1745.0,676.0,1925614
44,44,Mountain,Utah,1904.0,972.0,3153550
31,31,Mountain,New Mexico,1949.0,602.0,2092741
6,6,New England,Connecticut,2280.0,1696.0,3571520
3,3,West South Central,Arkansas,2280.0,432.0,3009733
18,18,West South Central,Louisiana,2540.0,519.0,4659690
0,0,East South Central,Alabama,2570.0,864.0,4887681
17,17,East South Central,Kentucky,2735.0,953.0,4461153
49,49,East North Central,Wisconsin,2740.0,2167.0,5807406
36,36,West South Central,Oklahoma,2823.0,1048.0,3940235
40,40,South Atlantic,South Carolina,3082.0,851.0,5084156
8,8,South Atlantic,District of Columbia,3770.0,3134.0,701547
25,25,West North Central,Missouri,3776.0,2107.0,6121623
14,14,East North Central,Indiana,3776.0,1482.0,6695497
46,46,South Atlantic,Virginia,3928.0,2047.0,8501286
23,23,West North Central,Minnesota,3993.0,3250.0,5606249
11,11,Pacific,Hawaii,4131.0,2399.0,1420593
20,20,South Atlantic,Maryland,4914.0,2230.0,6035802
22,22,East North Central,Michigan,5209.0,3142.0,9984072
30,30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
42,42,East South Central,Tennessee,6139.0,1744.0,6771631
33,33,South Atlantic,North Carolina,6451.0,2817.0,10381615
13,13,East North Central,Illinois,6752.0,3891.0,12723071
21,21,New England,Massachusetts,6811.0,13257.0,6882635
35,35,East North Central,Ohio,6929.0,3320.0,11676341
10,10,South Atlantic,Georgia,6943.0,2556.0,10511131
28,28,Mountain,Nevada,7058.0,486.0,3027341
2,2,Mountain,Arizona,7259.0,2606.0,7158024
5,5,Mountain,Colorado,7607.0,3250.0,5691287
38,38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
37,37,Pacific,Oregon,11139.0,3337.0,4181886
47,47,Pacific,Washington,16424.0,5880.0,7523869
43,43,West South Central,Texas,19199.0,6111.0,28628666
9,9,South Atlantic,Florida,21443.0,9587.0,21244317
32,32,Mid-Atlantic,New York,39827.0,52070.0,19530351
4,4,Pacific,California,109008.0,20964.0,39461588

## Subsetting

### Subsetting columns

In [30]:
homelessness['region']  # Here one pair of square bracket is enough

0     East South Central
1                Pacific
2               Mountain
3     West South Central
4                Pacific
5               Mountain
6            New England
7         South Atlantic
8         South Atlantic
9         South Atlantic
10        South Atlantic
11               Pacific
12              Mountain
13    East North Central
14    East North Central
15    West North Central
16    West North Central
17    East South Central
18    West South Central
19           New England
20        South Atlantic
21           New England
22    East North Central
23    West North Central
24    East South Central
25    West North Central
26              Mountain
27    West North Central
28              Mountain
29           New England
30          Mid-Atlantic
31              Mountain
32          Mid-Atlantic
33        South Atlantic
34    West North Central
35    East North Central
36    West South Central
37               Pacific
38          Mid-Atlantic
39           New England
40        South Atlantic
41    West North Central
42    East South Central
43    West South Central
44              Mountain
45           New England
46        South Atlantic
47               Pacific
48        South Atlantic
49    East North Central
50              Mountain
Name: region, dtype: object

In [32]:
homelessness[['region','state']]
# Here the outer square bracket is responsible for subsetting the dataframe
# The inner square bracket is creating a list of column names to subset

                region                 state
0   East South Central               Alabama
1              Pacific                Alaska
2             Mountain               Arizona
3   West South Central              Arkansas
4              Pacific            California
5             Mountain              Colorado
6          New England           Connecticut
7       South Atlantic              Delaware
8       South Atlantic  District of Columbia
9       South Atlantic               Florida
10      South Atlantic               Georgia
11             Pacific                Hawaii
12            Mountain                 Idaho
13  East North Central              Illinois
14  East North Central               Indiana
15  West North Central                  Iowa
16  West North Central                Kansas
17  East South Central              Kentucky
18  West South Central             Louisiana
19         New England                 Maine
20      South Atlantic              Maryland
21         New England         Massachusetts
22  East North Central              Michigan
23  West North Central             Minnesota
24  East South Central           Mississippi
25  West North Central              Missouri
26            Mountain               Montana
27  West North Central              Nebraska
28            Mountain                Nevada
29         New England         New Hampshire
30        Mid-Atlantic            New Jersey
31            Mountain            New Mexico
32        Mid-Atlantic              New York
33      South Atlantic        North Carolina
34  West North Central          North Dakota
35  East North Central                  Ohio
36  West South Central              Oklahoma
37             Pacific                Oregon
38        Mid-Atlantic          Pennsylvania
39         New England          Rhode Island
40      South Atlantic        South Carolina
41  West North Central          South Dakota
42  East South Central             Tennessee
43  West South Central                 Texas
44            Mountain                  Utah
45         New England               Vermont
46      South Atlantic              Virginia
47             Pacific            Washington
48      South Atlantic         West Virginia
49  East North Central             Wisconsin
50            Mountain               Wyoming

This also performs the same thing, but in 2 different steps

In [33]:
cols_to_subset = ['region','state']
homelessness[cols_to_subset]

                region                 state
0   East South Central               Alabama
1              Pacific                Alaska
2             Mountain               Arizona
3   West South Central              Arkansas
4              Pacific            California
5             Mountain              Colorado
6          New England           Connecticut
7       South Atlantic              Delaware
8       South Atlantic  District of Columbia
9       South Atlantic               Florida
10      South Atlantic               Georgia
11             Pacific                Hawaii
12            Mountain                 Idaho
13  East North Central              Illinois
14  East North Central               Indiana
15  West North Central                  Iowa
16  West North Central                Kansas
17  East South Central              Kentucky
18  West South Central             Louisiana
19         New England                 Maine
20      South Atlantic              Maryland
21         New England         Massachusetts
22  East North Central              Michigan
23  West North Central             Minnesota
24  East South Central           Mississippi
25  West North Central              Missouri
26            Mountain               Montana
27  West North Central              Nebraska
28            Mountain                Nevada
29         New England         New Hampshire
30        Mid-Atlantic            New Jersey
31            Mountain            New Mexico
32        Mid-Atlantic              New York
33      South Atlantic        North Carolina
34  West North Central          North Dakota
35  East North Central                  Ohio
36  West South Central              Oklahoma
37             Pacific                Oregon
38        Mid-Atlantic          Pennsylvania
39         New England          Rhode Island
40      South Atlantic        South Carolina
41  West North Central          South Dakota
42  East South Central             Tennessee
43  West South Central                 Texas
44            Mountain                  Utah
45         New England               Vermont
46      South Atlantic              Virginia
47             Pacific            Washington
48      South Atlantic         West Virginia
49  East North Central             Wisconsin
50            Mountain               Wyoming

### Subsetting rows

One way you can do this is by creating a logical condition to filter against

In [37]:
homelessness['individuals'] > 5000

0     False
1     False
2      True
3     False
4      True
5      True
6     False
7     False
8     False
9      True
10     True
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22     True
23    False
24    False
25    False
26    False
27    False
28     True
29    False
30     True
31    False
32     True
33     True
34    False
35     True
36    False
37     True
38     True
39    False
40    False
41    False
42     True
43     True
44    False
45    False
46    False
47     True
48    False
49    False
50    False
Name: individuals, dtype: bool

In [38]:
homelessness[homelessness['individuals'] > 5000]

,Unnamed: 0,region,state,individuals,family_members,state_pop
2,2,Mountain,Arizona,7259.0,2606.0,7158024
4,4,Pacific,California,109008.0,20964.0,39461588
5,5,Mountain,Colorado,7607.0,3250.0,5691287
9,9,South Atlantic,Florida,21443.0,9587.0,21244317
10,10,South Atlantic,Georgia,6943.0,2556.0,10511131
13,13,East North Central,Illinois,6752.0,3891.0,12723071
21,21,New England,Massachusetts,6811.0,13257.0,6882635
22,22,East North Central,Michigan,5209.0,3142.0,9984072
28,28,Mountain,Nevada,7058.0,486.0,3027341
30,30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
32,32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,33,South Atlantic,North Carolina,6451.0,2817.0,10381615
35,35,East North Central,Ohio,6929.0,3320.0,11676341
37,37,Pacific,Oregon,11139.0,3337.0,4181886
38,38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
42,42,East South Central,Tennessee,6139.0,1744.0,6771631
43,43,West South Central,Texas,19199.0,6111.0,28628666
47,47,Pacific,Washington,16424.0,5880.0,7523869

### Subsetting based on text data

In [39]:
homelessness[homelessness['state'] == 'Arizona']

   Unnamed: 0    region    state  individuals  family_members  state_pop
2           2  Mountain  Arizona       7259.0          2606.0    7158024

### Subsetting based on dates

This dataset doesn't have a column to show how this is done

### Subsetting using .isin()

This is used to subset rows that meet multiple conditions

In [40]:
is_mountain_or_pacific = homelessness['region'].isin(['Mountain','Pacific'])
homelessness[is_mountain_or_pacific]

    Unnamed: 0    region       state  individuals  family_members  state_pop
1            1   Pacific      Alaska       1434.0           582.0     735139
2            2  Mountain     Arizona       7259.0          2606.0    7158024
4            4   Pacific  California     109008.0         20964.0   39461588
5            5  Mountain    Colorado       7607.0          3250.0    5691287
11          11   Pacific      Hawaii       4131.0          2399.0    1420593
12          12  Mountain       Idaho       1297.0           715.0    1750536
26          26  Mountain     Montana        983.0           422.0    1060665
28          28  Mountain      Nevada       7058.0           486.0    3027341
31          31  Mountain  New Mexico       1949.0           602.0    2092741
37          37   Pacific      Oregon      11139.0          3337.0    4181886
44          44  Mountain        Utah       1904.0           972.0    3153550
47          47   Pacific  Washington      16424.0          5880.0    7523869
50          50  Mountain     Wyoming        434.0           205.0     577601

Filter homelessness for cases where the USA census region is "South Atlantic" or it is "Mid-Atlantic", assigning to south_mid_atlantic. View the printed result.

## Adding new columns

This is also known as transforming, mutating, and feature engineering.

In [42]:
# Add total col as sum of individuals and family_members
homelessness['total'] = homelessness['individuals'] + homelessness['family_members']

# Add p_individuals col as proportion of total that are individuals
homelessness['p_individuals'] = homelessness['individuals'] / homelessness['total']
# See the result
print(homelessness.head())

   Unnamed: 0              region       state  individuals  family_members  \
0           0  East South Central     Alabama       2570.0           864.0
1           1             Pacific      Alaska       1434.0           582.0
2           2            Mountain     Arizona       7259.0          2606.0
3           3  West South Central    Arkansas       2280.0           432.0
4           4             Pacific  California     109008.0         20964.0

   state_pop     total  p_individuals
0    4887681    3434.0       0.748398
1     735139    2016.0       0.711310
2    7158024    9865.0       0.735834
3    3009733    2712.0       0.840708
4   39461588  129972.0       0.838704

In this exercise, you'll answer the question, "Which state has the highest number of homeless individuals per 10,000 people in the state?" Combine your new pandas skills to find out.

In [43]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * homelessness["individuals"] / homelessness["state_pop"]

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness["indiv_per_10k"] > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = high_homelessness.sort_values('indiv_per_10k', ascending = False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[['state','indiv_per_10k']]

# See the result
print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363

District of Columbia has the highest homeless individuals per 10000